# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.RPG_3D.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\RPG\RPG_3D\.idea\.idea.RPG_3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
